@import url(http://fonts.googleapis.com/css?family=Alegreya+SC);

body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background:#a7a09a;
		font-family: Verdana, sans-serif;
	}
	#wrap {
		width:750px;
		margin:0 auto;
		background:#99c;
	}
	#header {
		text-align:right;
		margin: 0 auto;
    	padding:5px 10px;
		background:#ddd;
		font-family: 'Alegreya SC', serif;
	}
	h1 {
	    margin:0;
    }
	#nav {
		padding:5px 10px;
		background:#c99;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
		font-family: 'Alegreya SC', serif;
		font-size: 18px;
	}
	#main {
		float:left;
		width:480px;
		padding:10px;
		background:#9c9;
	}
	#main > h3 {
		text-align: left;
	}
	h2 {
		margin:0 0 1em;
		text-align:center;
		font-family: 'Alegreya SC', serif;
	}
	#sidebar {
		float:right;
		width:230px;
		padding:10px;
		background:#99c;
	}
	#title {
		margin-top: -25px;
		font-family: 'Alegreya SC', serif;
		font-size: 16px;

	}
	#footer {
		clear:both;
		padding:5px 10px;
		background:#cc9;
		font-family: 'Alegreya SC', serif;
		font-size: 16px;
		text-align:right;
	}
	#footer p {
		margin:0;
    }
		#innerWrapper {
			width:600px;
		}
		#leftCol {
			width: 300px;
			height: 400px;
			float: left;
		}
		#leftCol > img {
			width:280px;
			height:400px;
			margin-top: -10px;
			margin-left: 30px;
		}
		#rightCol {
			width: 150px;
			height: 400px;
			margin-top: 35px;
			margin-left: 325px;
		}

	* html #footer {
		height:1px;
	}